.login-wrapper {
  height: 100vh;
  background-image: url("/assets/img/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper .error-message-password-minimum,
.login-wrapper .error-message-password-match,
.login-wrapper .error-message-username,
.login-wrapper .error-message-username-exists {
  display: none;
  color: #ff3232;
  padding-bottom: 10px;
}
.login-wrapper .register-demo-card {
  min-height: 260px;
}
.login-wrapper .login-card-menu {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.login-wrapper .login-card-menu a {
  color: white;
}
.login-wrapper .demo-card-wide {
  display: flex;
  align-items: center;
}
.login-wrapper form {
  width: 80%;
  padding-bottom: 13px;
}
.login-wrapper form button {
  width: 100%;
  background: #e4e4e4;
}
.login-wrapper .demo-card-wide.mdl-card {
  width: 310px;
}
.login-wrapper .demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.login-wrapper .registration-success {
  width: 80%;
  padding-top: 20px;
  text-align: center;
}

.kino-wrapper {
  min-height: 1080px;
  height: 100%;
  background-image: url("/assets/img/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}
.kino-wrapper .delete-movie {
  color: red !important;
}
.kino-wrapper nav {
  background-color: #f59947;
  display: flex;
  justify-content: center;
}
.kino-wrapper nav .nav-wrapper {
  width: 80%;
}
.kino-wrapper nav .nav-wrapper .logged-in-username {
  margin-left: 15%;
}
@media screen and (max-width: 992px) {
  .kino-wrapper nav .nav-wrapper .logged-in-username {
    float: right;
    margin-left: 0;
  }
}
.kino-wrapper nav .brand-logo {
  margin-left: 20px;
}
.kino-wrapper > .movies-wrapper {
  display: flex;
  justify-content: center;
}
.kino-wrapper > .movies-wrapper > .container {
  width: 80%;
  max-width: 1480px;
  margin-top: 10px;
}
@media screen and (max-width: 489px) {
  .kino-wrapper > .movies-wrapper > .container .movie-row .card.horizontal {
    flex-direction: column;
  }
  .kino-wrapper > .movies-wrapper > .container .movie-row .card.horizontal .card-image {
    margin: 0 auto;
  }
}
.kino-wrapper > .movies-wrapper > .container .movie-row .card.horizontal .card-image img {
  max-height: 250px;
  max-width: 250px;
}

.movies-wrapper .file-field {
  margin-right: 10px;
}
.movies-wrapper .file-field .btn {
  margin-left: 10px;
  background-color: #f59947;
}
.movies-wrapper .file-field .error-message-image {
  margin-left: 10px;
  margin-right: 10px;
}
.movies-wrapper .error-message-title, .movies-wrapper .error-message-desc, .movies-wrapper .error-message-image {
  display: none;
  color: #ff3232;
}
.movies-wrapper button.btn-submit {
  background-color: #f59947;
}
.movies-wrapper .movie-success {
  color: #f59947;
}

.kino-wrapper .platno-wrapper {
  display: flex;
  justify-content: center;
}
.kino-wrapper .platno-wrapper #platno {
  width: 20%;
  border-bottom: 4px solid black;
  font-size: 1.4em;
}
.kino-wrapper .seat-row {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}
.kino-wrapper .seat-row .row-id {
  padding-right: 20px;
}
.kino-wrapper .seat-row .seat-number {
  padding-right: 20px;
  padding-left: 20px;
  width: 55px;
}
.kino-wrapper .success-message {
  display: none;
  color: #f59947;
}

.orders-wrapper h5 {
  display: flex;
  justify-content: space-between;
  padding-left: 170px;
  padding-right: 170px;
}
.orders-wrapper .delete-order {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
