//--------------------
//-----VARIABLES-----
//--------------------
$button-grey-color: #e4e4e4;
$primary-color: #f59947;
$error-message-color: #ff3232;
$break-medium: 992px;
$break-small: 489px;

//--------------------
//-----GLOBAL-----
//--------------------

//--------------------
//-----LOGIN PAGE-----
//--------------------
.login-wrapper {
  height: 100vh;
  background-image: url('/assets/img/login-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .error-message-password-minimum,
  .error-message-password-match,
  .error-message-username,
  .error-message-username-exists {
    display: none;
    color: $error-message-color;
    padding-bottom: 10px;
  }

  .register-demo-card {
    min-height: 260px;
  }

  .login-card-menu {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    a {
      color: white;
    }
  }

  .demo-card-wide {
    display: flex;
    align-items: center;
  }

  form {
    width: 80%;
    padding-bottom: 13px;

    button {
      width: 100%;
      background: $button-grey-color;
    }
  }

  .demo-card-wide {
    &.mdl-card {
      width: 310px;
    }

    > .mdl-card__menu {
      color: #fff;
    }
  }

  .registration-success {
    width: 80%;
    padding-top: 20px;
    text-align: center;
  }
}

//--------------------
//-----KINO PAGE-----
//--------------------

.kino-wrapper {
  min-height: 1080px;
  height: 100%;
  background-image: url('/assets/img/login-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;

  nav {
    background-color: $primary-color;
    display: flex;
    justify-content: center;

    .nav-wrapper {
      width: 80%;

      .logged-in-username {
        margin-left: 15%;

        @media screen and (max-width: $break-medium) {
          float: right;
          margin-left: 0;
        }
      }
    }

    .brand-logo {
      margin-left: 20px;
    }
  }

  > .movies-wrapper {
    display: flex;
    justify-content: center;

    > .container {
      width: 80%;
      max-width: 1480px;
      margin-top: 10px;

      .movie-row {
        .card.horizontal {
          @media screen and (max-width: $break-small) {
            flex-direction: column;

            .card-image {
              margin: 0 auto;
            }
          }

          .card-image {
            img {
              max-height: 250px;
              max-width: 250px;
            }
          }
        }
      }
    }
  }
}

//--------------------
//-----ADMIN PAGE-----
//--------------------

.movies-wrapper {
  .file-field {
    margin-right: 10px;

    .btn {
      margin-left: 10px;
      background-color: $primary-color;
    }

    .error-message-image {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .error-message-title, .error-message-desc, .error-message-image {
    display: none;
    color: $error-message-color;
  }

  button.btn-submit {
    background-color: $primary-color;
  }

  .movie-success {
    color: $primary-color;
  }
}

//--------------------
//-----SEAT PAGE-----
//--------------------

.kino-wrapper {
  .platno-wrapper {
    display: flex;
    justify-content: center;

    #platno {
      width: 20%;
      border-bottom: 4px solid black;
      font-size: 1.4em;
    }
  }

  .seat-row {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;

    .row-id {
      padding-right: 20px;
    }

    .seat-number {
      padding-right: 20px;
      padding-left: 20px;
      width: 55px;
    }
  }

  .success-message {
    display: none;
    color: $primary-color;
  }
}

//--------------------
//-----ORDERS PAGE----
//--------------------

.orders-wrapper {
  h4 {
    display: flex;
    justify-content: space-between;
    padding-left: 170px;
    padding-right: 170px;
  }

  .delete-order {
    background-color: red;
  }
}